<div class="card">
  <div class="card-content black-text">
    <div class="row">
      <div class="col s6">
        <p class="title">{{info.name}}</p>
        <span><img src="{{info.rating_img_url}}" id="rating-business"/>
       {{info.review_count}} reviews<br />
       {{info.categories}}
    </span>
      </div>
      <div class="col s4 offset-s2">
        <p class="right align">{{info.location.address}}
          <br />{{info.location.city}}, {{info.location.state_code}}, {{info.location.postal_code}}
          <br />{{info.display_phone}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="{{info.image_url}}" /></a>
          <a class="carousel-item" href="#one!"><img src="{{info.snippet_image_url}}" /></a>
          <a class="carousel-item" href="#one!"><img src="{{info.image_url}}" /></a>
        </div>
      </div>
      <div class="col s6">
        <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{info.location.display_address}}&key=AIzaSyCqHWFDIibdD6pRFtI0jSW-s2OU1XLa_jU" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8">
    <ul class="collection">
      {{#each info.reviews}}
        <li class="collection-item avatar">
          <div class="review">
            <span><img src="{{this.user.image_url}}" class="left align circle" id="profilepic"/>
            {{this.user.name}} <br />
            {{this.excerpt}}
            <img src="{{this.rating_image_url}}" alt="rating"/></span>
          </div>
        </li>
        <li class="collection-item avatar">
          <div class="review">
            <span><img src="{{this.user.image_url}}" class="left align circle" id="profilepic"/>
            {{this.user.name}} <br />
            {{this.excerpt}}
            <img src="{{this.rating_image_url}}" alt="rating"/></span>
          </div>
        </li>
      {{/each}}
    </ul>
    <p>{{reviews}}</p>

  </div>

  <div class="col s4">
    <form class="col s12" action="/:business/reviews" method="post"> 
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="comment"></textarea>
          <label for="textarea1">Add Review</label>
          </label>
        </div>
      </div>
      <p class="range-field">
        <input type="range" id="test5" min="0" max="5" />
        <label for="idtest5">Rate It!</label>
      </p>
      <button type="submit" class="btn waves black">Post!</button>
    </form>
  </div>
</div>
