<div class="container">
  <div class="row">

      {{#each results}}
    <ul class="collection">
        <li class="collection-item avatar">
          <img src={{this.image_url}} alt="profile">
          <span class="right align">{{this.location.address}}<br />{{this.location.city}}, {{this.location.state_code}}, {{this.location.postal_code}} <br />{{this.display_phone}}</span>
          <h5 class="title">{{this.name}}</h5>
          <p>First Line <br>
             Second Line
          </p>
        </li>
        {{/each}}
  </div>
</div>
