<div class="row">
  <div class="col s10 offset-s1">
    <ul class="collection">
      {{#each results}}
        <li class="collection-item avatar">
          <img src= {{this.image_url}} alt="profile">
          <span class="right align">{{this.location.address}}<br />{{this.location.city}}, {{this.location.state_code}}, {{this.location.postal_code}} <br />{{this.display_phone}}<br /><a class="waves-effect waves-light modal-trigger" href="#modal{{this.id}} ">Map it!</a></span>
          <form action="/business" method="get">
            <a href="/{{this.id}}" value="{{this.id}}"><p class="title">{{this.name}}</p></a>
          </form>
          <img src= {{this.rating_img_url_large}} alt="rating" />
          {{#if this.categories }}
          <p class="title">{{this.categories}}</p>
          {{/if}}
          <div class="divider"></div>
          <p>{{this.snippet_text}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- Modal Structure-->
  {{#each results}}
    <div id="modal{{this.id}}" class="modal">
      <div class="modal-content">
        <iframe width="100%" height="260" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{this.location.display_address}}&key=AIzaSyCqHWFDIibdD6pRFtI0jSW-s2OU1XLa_jU" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  {{/each}}
</div>
